{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_blah.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/blah.png' %}">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Site</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Article</h2>
        <ul class="articles">
            {% for item in MongodbInfo %}
                <li>
                    <img src="{% static 'images/0001.jpg' %}" width="100" height="91">
                    <div class="article-info">
                        <h3><a href="#">{{ item.host }}</a></h3>
                        <p class="meta-info">
                            {% for file in item.file_create %}
                                <span class="meta-cate">{{ file }}</span>
                            {% endfor %}
                        </p>
                        <p class="description">{{ item.name }}</p>
                    </div>
                    <div class="rate">
                        <span class="rate-score">{{ item.size }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="main-content-pagitor">
            {% if MongodbInfo.has_previous %}
                <a href="?page={{ MongodbInfo.previous_page_number }}">< Pre></a>
            {% endif %}
                <span> {{ MongodbInfo.number }} of {{ MongodbInfo.paginator.num_pages }} <span>
            {% if MongodbInfo.has_next %}
                <a href="?page={{ MongodbInfo.next_page_number }}">Next ></a>
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <p>&copy; Mugglecoding</p>
    </div>
</body>
</html>